# Reviews-Based Yelp Award Project
# *Yelp Data Extraction*

**Alison Glazer**

This project is a conceptual idea for a new Yelp award that is driven by the content of a business's Yelp reviews. The initial prototype focuses on high-end restaurants in California, and the California Michelin Guide is used as a proxy for a judging criterion. 

This notebook contains the work done to extract the Yelp data for high-end California restaurants from a larger dataset of Yelp profiles and reviews for restaurants

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Initialize-SQLite-Database" data-toc-modified-id="Initialize-SQLite-Database-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Initialize SQLite Database</a></span></li><li><span><a href="#Database-Query-Helper-Function" data-toc-modified-id="Database-Query-Helper-Function-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Database Query Helper Function</a></span></li><li><span><a href="#Explore-Yelp-Database" data-toc-modified-id="Explore-Yelp-Database-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Explore Yelp Database</a></span></li><li><span><a href="#SANDBOX" data-toc-modified-id="SANDBOX-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>SANDBOX</a></span></li></ul></div>

## Import Libraries

In [2]:
import pickle
import sqlite3
import pandas as pd

## Initialize SQLite Database

In [12]:
con = sqlite3.connect('yelpResData.db')
con.text_factory = lambda x: str(x, 'latin1')
c = con.cursor()

## Database Query Helper Function

In [13]:
def query(query_string):
    """
    Query the sqlite database
    """
    c.execute(query_string);
    return pd.DataFrame(c.fetchall(),columns=[desc[0] for desc in c.description])

## Explore Yelp Database

In [14]:
# List out all tables
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('review',), ('restaurant',), ('reviewer',)]

In [14]:
# List entry from restaurant table
query('select * from restaurant limit 1')

,restaurantID,name,location,reviewCount,rating,categories,address,Hours,GoodforKids,AcceptsCreditCards,...,GoodFor,Alcohol,NoiseLevel,Ambience,HasTV,Caters,WheelchairAccessible,webSite,phoneNumber,filReviewCount
0,pbEiXam9YJL3neCYHGwLUA,Alinea,"Alinea - Lincoln Park - Chicago, IL",841,4.5,"Restaurants, American (New)",1723 N Halsted St (between Willow St & Concord...,Wed-Sun 5 pm - 6:30 pm Wed-Sun 8 pm - 9:30 pm,No,Yes,...,Dinner,Full Bar,Quiet,"Classy, Upscale",No,No,Yes,http://www.alinearestaurant.com,(312) 867-0110,136

In [15]:
# Look for high-end restaurants in California in review table
ca_reviews_df = query('with ca_restaurants as (select restaurantID from restaurant where categories like "%Restaurant%" and PriceRange like "$$$%" and location like "%, CA") select * from review where restaurantID in ca_restaurants')
ca_reviews_df

,date,reviewID,reviewerID,reviewContent,rating,usefulCount,coolCount,funnyCount,flagged,restaurantID
0,8/20/2012,IOC-MV6kGnY7t1IEvRh8XQ,DlwexC7z88ymAzu45skODw,Nick's on Main has been my favorite South Bay ...,5,0,0,0,NR,WUi5FGO9GllvkR83HEfMqw
1,Update - 8/17/2012,TRDkt6iMwZ73hE70ZfwXWQ,DlwexC7z88ymAzu45skODw,The Church cocktail is pure summer cocktail pe...,5,1,0,0,YR,43Ca7h2QxO6so8IvRk91FQ
2,11/27/2011,6ppv6ll5wrJBUk5pHb0E_A,DlwexC7z88ymAzu45skODw,One of the best meals I've had in a long long ...,5,3,1,0,YR,6ZNlnA733Rv0I9Mq5_yO0A
3,11/26/2011,23rrr2wg00cf53Jh6MG1Vw,DlwexC7z88ymAzu45skODw,Great Italian in Healdsberg,4,0,0,0,NR,vGTDBVj4m1-ZvtxgckUl2w
4,Update - 11/26/2011,VQNCtyltyYfC3Aa7E-VkyQ,DlwexC7z88ymAzu45skODw,This is my go-to place for celebrating a speci...,5,0,0,0,YR,Mk1expZCld__kiq_-t7K9g
5,11/26/2011,i4aW-AFlw05DtpVlpE33Uw,DlwexC7z88ymAzu45skODw,"Great service, great food, nice ambience. I've...",4,0,0,0,YR,fTeiio1L2ZBIRdlzjdjAeg
6,11/26/2011,LBGJyFC5g6fs11M9uuxdKw,DlwexC7z88ymAzu45skODw,Excellent!! Scallops were beautiful.,4,0,0,0,YR,WpmF--4GkHzg-gNI2c7NWQ
7,1/29/2011,vLj4xDDdCYygTgEjxrIkWw,DlwexC7z88ymAzu45skODw,Fantastic dining experience in an unassuming l...,4,0,0,0,YR,Xk8Uh9jBgaaubiUBIIULZg
8,8/9/2009,xYVBcaTjwhPCeraR0E5LwA,DlwexC7z88ymAzu45skODw,The French Laundry plays at a level miles abov...,5,0,1,0,YR,T20VEwi7AzKbY2TuVEt_ig
9,8/9/2009,E-LaDFgXOQImLNccInbzhw,DlwexC7z88ymAzu45skODw,Recently I've been having a lot of mixed to di...,4,1,0,0,YR,eSixRz7xcwtFdeh9hN5TyQ
10,3/24/2009,ja_Z5oEHxzJZC2vVP8Tqew,DlwexC7z88ymAzu45skODw,One of the things I love about living in San F...,4,0,0,0,YR,c5Pog3vEqmBFOBdL7R3vAg
11,3/24/2009,I9sFjCPwS39UAqezAxoHgQ,DlwexC7z88ymAzu45skODw,"I'm not a vegetarian, so it took quite a bit o...",5,1,0,0,YR,0-Vc1XUSm0vran0qgG42FQ
12,9/13/2012,7MUYcriPv6zvSY0n4l3iLA,kW2dk1CWihmh3g7k9N2G8A,Visited for food and drinks at the The Bar & L...,4,1,1,1,NR,WARwEHC-ssTW2BC93WXf_A
13,7/12/2011,oxx1kPfNKfh3ikAzy3k0TQ,kW2dk1CWihmh3g7k9N2G8A,You'd think for a location right across the co...,4,0,0,0,YR,BqznAgRawXcSfJuDUP617A
14,4/16/2011,TJCVJdO5eY-R1a7DrRE3RQ,kW2dk1CWihmh3g7k9N2G8A,We tried the lunch buffet ($15pp) and weren't ...,3,1,0,0,NR,D4G1--huF2O_qIXa53KLRg
15,4/16/2011,zDNuKd8P67OEACM7CY3KOQ,kW2dk1CWihmh3g7k9N2G8A,It had been a while since I had walked into a ...,5,0,0,0,YR,Gjo-eOh2vx07PtByCxvulw
16,4/12/2011,7zrgRO-1DTQNVEBLEAcQpw,kW2dk1CWihmh3g7k9N2G8A,View - only reason this place earned another s...,2,2,0,0,NR,LQwG723JxLoO3CTqQpocuA
17,4/12/2011,AtfpkZVXW2xdrHWGjqRSqQ,kW2dk1CWihmh3g7k9N2G8A,I was really quite unimpressed by the hotel as...,3,0,0,0,YR,Lc4l-oz3CFJmTNLJmp4Beg
18,9/24/2012,CLuIp87X3kP2k6cY9Cltjw,OW2H-GkKnlVEBPuGHIaiFg,I guess restaurant management has forgotten th...,1,0,0,0,YR,uVQEyE-xZVt4b6x3057yUQ
19,7/29/2012,F0QIAYiCgkxQidQcpz4-xg,OW2H-GkKnlVEBPuGHIaiFg,***Review is for brunch*** I visited this plac...,1,0,0,0,NR,oqsu3pKpgRMGHj9QItsx0A
20,7/29/2012,ZnNjt0mb8JHewfCOdMuCcg,OW2H-GkKnlVEBPuGHIaiFg,Solid wine country eatery. Like the sign says ...,4,1,1,1,YR,NJNTadzLju3HJsHg1ZMcPw
21,7/9/2012,rVFf4lSa6JRR6czNRijD5Q,OW2H-GkKnlVEBPuGHIaiFg,I really should give this a 3 star mainly caus...,4,0,0,0,YR,qs7FgJ-UXgpbAMass0Oojg
22,6/11/2012,QhmIWt9BGz0d_J8olFyJYg,OW2H-GkKnlVEBPuGHIaiFg,I ate here a few months ago and did the chef's...,4,0,0,0,YR,uEucSd4jwY_zb10AcEye_g
23,6/11/2012,DwmkM9RrfJCqYLsAMmAkkg,OW2H-GkKnlVEBPuGHIaiFg,My girlfriend gave me a surprise dinner here o...,4,2,2,0,NR,e3WDNQMYpLdMEmM2UV13rA
24,6/11/2012,qDDO6TsqQuMiHGuBYdTZ2g,OW2H-GkKnlVEBPuGHIaiFg,Had a phenomenal dinner at Michael Mina over t...,5,0,0,0,YR,5I3fM8fRdkJdKL-_BJ1qvw
25,5/14/2012,SGXnpmJ254Dwk1MQnNL69A,OW2H-GkKnlVEBPuGHIaiFg,Can't decide between 4 or 5 stars. I came here...,4,0,0,0,YR,WavvLdfdP6g8aZTtbBQHTw
26,4/8/2012,igeHqpKXTot5TKo4LXTjbw,OW2H-GkKnlVEBPuGHIaiFg,I would rate this closer to 4.5 rather than a ...,5,1,1,0,YR,ttarnopezxmp2ROB1N2PaA
27,6/23/2012,Zl-88P9B0G75I_qhDjFMoA,-3Mzc2O6jmYLWQJcIJdvAA,The French Laundry Ã‚Â is a labor intensive ende...,5,1,1,0,YR,T20VEwi7AzKbY2TuVEt_ig
28,6/23/2012,wqYWNXf8UI0N5agPOCFh_w,-3Mzc2O6jmYLWQJcIJdvAA,"After our dinner earlier this month, we asked ...",5,3,3,0,YR,Sq8CeLnv4Psa7c7GEISJgQ
29,10/5/2010,I9xcJUDSZohCSqjg_XbU-Q,kW2dk1CWihmh3g7k9N2G8A,This place was very creatively decorated - so ...,4,2,0,1,NR,l9uQx8AKADqWthB8X2bEDA
...,...,...,...,...,...,...,...,...,...,...
15693,7/9/2007,LLN6LsfLCpeUaUDpB8mqvQ,gIW9xElVgqEf2p2HaUur8g,good sushi but ridiculously overpriced. helpfu...,3,0,0,0,YR,7Q_MQuVS7AUjlSJS8cbt0g
15694,9/22/2009,6SrMK2EI7tQ8-t1drgvthg,yABu0siSGhme2JpUA1x0PQ,I went for brunch and really wanted to order t...,3,2,0,1,YR,E8DK30O8_ZfR9Lg8daRWWg
15695,10/3/2009,Wl2yLXFuKFDSIer1ApyvMw,pnfVIB7UhvCQ7X2K0Q2XIw,I came here for New Year's Eve one year. The f...,4,0,0,0,NR,SRy_SJUSqF7lLs3zfQHqdw
15696,6/9/2007,Ckz4QGQXoCgz_4RpsckNNg,gIW9xElVgqEf2p2HaUur8g,Basically this is a party place. I guess peopl...,3,0,0,0,YR,aO_98F0hBu9f6T7YOsFwrA
15697,6/9/2007,cMYlKOFgaAiNXpTpIxV4Yw,gIW9xElVgqEf2p2HaUur8g,Perfect for bringing a book. Well-prepared foo...,5,0,0,0,YR,A_DV-Y0n4A_9A7D1cn9T9g
15698,7/10/2011,H984423gnytStAVlnzduAQ,zLRpZSclC9jQib-HgSdt9A,Feel like eating a delicious seafood for dinne...,5,2,0,0,YR,WpmF--4GkHzg-gNI2c7NWQ
15699,6/9/2007,t_4nmW-IV9ei0IAiwfjodw,gIW9xElVgqEf2p2HaUur8g,screamingly fresh sashimi. two dozen sakes. st...,4,0,1,1,YR,USbpXRK2pFey0V24QcgXsQ
15700,6/9/2007,SUpQHiqpXV431kmwQ4LiOg,gIW9xElVgqEf2p2HaUur8g,"A cozy, under-the-radar SF supperclub, run by ...",4,0,0,0,NR,vt_5lTfNKZo7V0tun2VvJQ
15701,3/23/2011,SSfgbiejlLYK2XkJknJNUw,zLRpZSclC9jQib-HgSdt9A,Sizzling mushrooms and mac n cheese... FTW! Fo...,4,1,0,0,YR,cJ_-7MywlZgLvvsS4u7jaQ
15702,2/5/2007,0CYi8dXV_hySik-ICzfIZw,gIW9xElVgqEf2p2HaUur8g,"Love the cinema. Outdoor patio, great oysters ...",4,0,0,0,YR,n6L5VIGunR51-D55C-eYeQ
15703,9/7/2010,dSNft6tq2serX5yKmSx3CA,zLRpZSclC9jQib-HgSdt9A,"Coming from Southern California, I had no idea...",4,0,0,0,YR,BMg0bVkU_6QiupxKA-3Wlg
15704,8/29/2010,a3kJfLHFu4zCBiOWgKbD-Q,zLRpZSclC9jQib-HgSdt9A,Only reviewing Hapoy Hour part of restaurant. ...,4,2,2,2,YR,-sROCHqmX0rooOmZOslbpA
15705,10/4/2008,tKj3TKVXBDM2cGJ9jdBwKQ,zLRpZSclC9jQib-HgSdt9A,My friend and I went here for brunch. Nice atm...,4,1,1,1,YR,IS1sExqRRRZ_gm1bU3rzNA
15706,1/20/2009,xhtJXdvIWlmRzOB8LJNjJA,o-NPgmrcihUoE0afXAmoPg,Gary Danko was the second stop on our tour of ...,4,0,0,0,YR,WavvLdfdP6g8aZTtbBQHTw
15707,7/30/2009,zn-A7860uNj3F5r4uLVWvA,pnfVIB7UhvCQ7X2K0Q2XIw,Our hostess was extremely nice! Tried the clam...,4,0,0,0,YR,iy1KBR5hRNcgCaqiUoBSoA
15708,7/30/2009,togpCvfBs45QfpBm2e9OTw,pnfVIB7UhvCQ7X2K0Q2XIw,"Average clientele is pretty snobby, some older...",3,1,1,1,YR,PsY5DMHxa5iNX_nX0T-qPA
15709,3/20/2011,I20k2yGt8cEN6udDju0QnQ,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Friday - 7:45pm Occasion: Ã‚Â Dinne...,4,1,1,1,YR,QINiEjMRGA7pKfvhPQtfBg
15710,7/30/2009,r7I9uIXZR2aufpifgwEemw,pnfVIB7UhvCQ7X2K0Q2XIw,Average food at tourist prices. I brought my o...,3,0,0,0,YR,afBjDUDJ29UEz96uZD27mA
15711,3/8/2011,Rd1NWCmiU48vo1fcXo9bmA,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Saturday - 9pm Occasion: Ã‚Â Birthd...,4,1,1,1,YR,HVJdo4f_6MxkM_1aCAK3NA
15712,3/7/2011,VTrQg98MfxjNF2Eciih0gQ,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Saturday - 8:45pm Occasion: Ã‚Â Ann...,5,2,3,3,YR,eSixRz7xcwtFdeh9hN5TyQ
15713,7/30/2009,x8ye0nZT_WF1khTrqg6sPw,pnfVIB7UhvCQ7X2K0Q2XIw,"I ordered the lobster, tuna tartare, and scall...",2,2,2,1,YR,GH2uhHA4mCVDd6T3EEs1Eg
15714,2/24/2011,a5HijmYjyMLtHepYdEAomw,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Monday - 8pm Occasion: Ã‚Â Valentin...,4,1,1,1,NR,7drBnDU03TSSaK2XO_-Frw
15715,7/30/2009,7xP41t5QVshkdIxh5icA4g,pnfVIB7UhvCQ7X2K0Q2XIw,Neat little specialty food shop. They have a l...,4,0,0,0,YR,BJkrx03r-eH3ZpYporZvgg
15716,2/24/2011,YUWswWgDexdfwSMgTVHC6w,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Sunday - 9pm Occasion: Ã‚Â Valentin...,4,2,1,1,YR,ykvr3ib1gHQHI4tznSn8iA
15717,2/17/2011,nqHiZgXnv8I7P9b_slMkZg,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Saturday - 6pm Occasion: Ã‚Â DAT - ...,4,3,2,2,NR,fjbvRz56XzcWjPsJ-9PXCw
15718,2/18/2009,wG5X2pFnRuOrcr_Wqllz8w,pn2Y9udA1C9Ox1RAPP8zxg,After some reviews from yelp I heard they have...,4,1,0,0,YR,JJnkXwf96vh1Uu7XZWZZAg
15719,2/15/2011,i0KGAa1_8gPey49hdlmxLA,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Friday - 10:30pm Occasion: Ã‚Â Girl...,4,1,1,1,YR,zvIbFkcZwqhTuDF7t7eQsQ
15720,2/15/2011,E3a9xWnfctO0j35814b4Cg,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Ã‚Â Sunday - 7pm Occasion: Ã‚Â Birthday...,3,1,1,1,YR,VFslQjSgrw4Mu5_Q1xk1KQ
15721,2/14/2011,-fy_oJrYTKknlUaFzFBLNw,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Friday - 9:00pm Occasion: Ã‚Â Chinese...,4,3,2,1,NR,PLx_VnZyFmxTS1zNTaDJxA
15722,1/13/2011,gyDWicKCXmMR2ml2sSdQ6g,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Sunday - 7:30pm Occasion: Ã‚Â Catch u...,3,2,3,1,NR,GH2uhHA4mCVDd6T3EEs1Eg

In [73]:
# Save this for analysis
ca_reviews_df.to_pickle('data/ca_reviews.pkl')

In [74]:
# Pull high-end restaurants in California from restaurants table
# Save for analysis
ca_restaurants_df = query('select * from restaurant where categories like "%Restaurant%" and PriceRange like "$$$%" and location like "%, CA"')
ca_restaurants_df.to_pickle('data/ca_restaurants.pkl')

## SANDBOX
Play around in the Yelp database

In [11]:
query('select * from reviewer ORDER BY usefulCount DESC')

,reviewerID,name,location,yelpJoinDate,friendCount,reviewCount,firstCount,usefulCount,coolCount,funnyCount,complimentCount,tipCount,fanCount
0,m07sy7eLtOjVdZ8oN9JKag,Ed SF Travel Examiner U.,"San Francisco, CA",July 2006,2062,2182,149,21748,19697,17929,6586,1311,540
1,w-w-k-QXosIKQ8HQVwU6IQ,Anthony Looking forward to fall flavors and pr...,"Playa del Rey, CA",March 2009,2315,1550,113,19452,17199,14285,31111,1618,353
2,OapLWhQI4_Gm32-nYbHmUA,Yee Gan Yogi Bear O.,London,May 2007,1386,1688,753,16101,13753,9332,39960,258,185
3,gjhzKWsqCIrpEd9pevbKZw,Miriam kleine maus W.,"San Francisco, CA",September 2005,2782,2611,406,14497,12360,6129,8185,507,640
4,ACUVZ4SiN0gni7dzVDm9EQ,Tiffany Ladyhawk N.,"Denver, CO",March 2007,4311,1514,133,14447,13234,8482,10459,332,451
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16936,X30kEBl07qWfnBSjKjpEqQ,Loren B.,"Dallas, TX",March 2012,0,2,0,0,0,0,0,0,0
16937,S4-75-tMdZ2s7OJSpWrX-w,Peter S.,"Chicago, IL",November 2009,17,1,0,0,0,0,0,8,0
16938,lpC-CoYgyg54H5IGnEwskQ,tiffany d.,"Olympia Fields, IL",September 2011,3,2,0,0,0,0,0,11,0
16939,KTyk5XyRgkYzk74MjHnp7w,Scott T.,"Chicago, IL",December 2009,0,2,0,0,1,0,0,0,0
16940,YRWguvYFPzeHy0PUac0XxA,Teo R.,"Philadelphia, PA",April 2009,15,6,0,0,0,0,0,1,1

In [74]:
q = 'SELECT *, ROW_NUMBER() OVER(PARTITION BY review.restaurantID) as review_num FROM review JOIN restaurant ON review.restaurantID = restaurant.restaurantID WHERE review.flagged LIKE "_" ORDER BY RANDOM() limit 10000'

df = query(q)
df

,date,reviewID,reviewerID,reviewContent,rating,usefulCount,coolCount,funnyCount,flagged,restaurantID,...,Alcohol,NoiseLevel,Ambience,HasTV,Caters,WheelchairAccessible,webSite,phoneNumber,filReviewCount,review_num
0,3/26/2011,wXYtpCP1UTWx4okUYDUrTQ,MaqFPgTMTiGcYoHfIuoNUw,"My wife and I just ate here tonight, we had a ...",5,0,0,0,Y,eHtnZ0ISo63_0zr9rFotjw,...,Full Bar,Average,"Romantic, Classy, Trendy, Upscale",No,No,Yes,http://www.sproutrestaurant.com/,(773) 348-0706,50,294
1,3/12/2012,efQYIN9dGq7rdU7geRUVIA,O9y8zO1JNixMFb776-sBUg,Hot doug's is fine. It's good encased meats an...,3,1,0,0,N,HOJqzz1WvOmeR9oESJ4d9A,...,No,Average,Casual,No,No,Yes,http://www.hotdougs.com,(773) 279-9550,234,276
2,2/6/2011,rQLC49nq7081gbMyzDpZgg,zpcZzNtQE6vuMekqEV1jYw,the environment: the place is cheesy. terrible...,3,2,0,0,N,GEpXn9rtTMtIj5NsGFiNQw,...,Full Bar,Average,Casual,Yes,No,Yes,http://www.badapplebar.com,(773) 360-8406,64,429
3,9/4/2007,EyRqocB57pSlHykjFXgmTA,OiD_b20yI2aASoXjzrOLwg,"Sweet mother of all that is good, Noon O Kabab...",5,4,1,0,N,8j97C2qR95tvpbGtoFxEAw,...,Full Bar,Average,Casual,No,Yes,Yes,http://www.noonokabab.com,(773) 279-9309,76,202
4,9/5/2012,2kEczrMnjB9S3zHGgdci0g,tZSt-UrUd1T0Lk64H5X2rw,Haven't been to Shaw's in quite a while and I ...,5,0,0,0,N,dKcO9OQ44RPRlkWe-vToFA,...,Full Bar,Average,Classy,Yes,No,Yes,http://www.shawscrabhouse.com,(312) 527-2722,118,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,6/4/2012,s0hAbCNpQk,w4uAy53a91y0PJqMlp5pww,"I like it here, but I can't say that it has li...",3,0,0,0,N,oEFJ29zAQaCNnQzebHQvpg,...,Full Bar,Average,"Romantic, Classy, Intimate",No,No,Yes,http://www.theviolethour.com/,(773) 252-1500,108,111
9996,12/6/2010,ops-czHUE9GVVWX8CoUdoA,pCMFuaphEfoKOXLW4D3ZEg,I have now been here for both brunch and dinne...,4,1,2,0,N,ElCbMJRjgu9LDj4MxOKXew,...,Full Bar,Average,"Classy, Trendy, Casual",No,No,Yes,http://www.bigjoneschicago.com,(773) 275-5725,85,168
9997,5/30/2011,30u7oAeqUce-jWV3I_LpjA,ICj_Xdd2hZW7N54adNzrwg,Best upscale dining experience in Chicago to d...,5,0,0,0,Y,eHtnZ0ISo63_0zr9rFotjw,...,Full Bar,Average,"Romantic, Classy, Trendy, Upscale",No,No,Yes,http://www.sproutrestaurant.com/,(773) 348-0706,50,306
9998,10/13/2011,0UI8LJ2ri8xks8cgrRk9sw,nG1dwvX2sQ-jZp4njq4V7Q,Had a really nice date here. Ã‚Â Great for lunch...,4,1,0,0,N,boE4Ahsssqic7o5wQLI04w,...,Full Bar,Loud,Trendy,No,No,Yes,http://thepurplepigchicago.com,(312) 464-1744,118,1065
9999,4/17/2008,89tPxoJhxfkHsS8K-a5Ftw,8_KDi2j9hhY6sdliLY4i1A,Nothing is better than combining laziness and ...,5,1,1,0,N,FCcgXODBs6O7MGH3VZNyLQ,...,No,Average,Casual,No,Yes,Yes,http://www.superdawg.com,(773) 763-0660,111,458

In [70]:
df = query('SELECT * FROM restaurant where GoodFor="Lunch"')
df

,restaurantID,name,location,reviewCount,rating,categories,address,Hours,GoodforKids,AcceptsCreditCards,...,GoodFor,Alcohol,NoiseLevel,Ambience,HasTV,Caters,WheelchairAccessible,webSite,phoneNumber,filReviewCount
0,HOJqzz1WvOmeR9oESJ4d9A,Hot Doug's,"Hot Doug's - Avondale - Chicago, IL",2122,4.5,"Restaurants, Fast Food, Hot Dogs",3324 N California Ave (between Henderson St & ...,Mon-Sat 10:30 am - 4 pm,Yes,No,...,Lunch,No,Average,Casual,No,No,Yes,http://www.hotdougs.com,(773) 279-9550,234
1,IuFEm-19YYh49T5ZlvwkDA,90 Miles Cuban CafÃƒÂ©,90 Miles Cuban CafÃƒÂ© - Roscoe Village - Chicag...,458,4.5,"Restaurants, Cuban, Sandwiches",3101 N Clybourn Ave (between Barry Ave & Oakle...,"Mon-Thu, Sun 8 am - 8 pm Fri-Sat 8 am - 9 pm",Yes,Yes,...,Lunch,No,Average,Casual,No,Yes,Yes,http://www.90milescubancafe.com,(773) 248-2822,61
2,jGiKIJCVLZHXQDSNnSLPsw,XOCO,"XOCO - Near North Side - Chicago, IL",1461,4.0,"Restaurants, Mexican","449 N Clark St Chicago, IL 60654 Neighborhood:...",Tue-Thu 8 am - 9 pm Fri-Sat 8 am - 10 pm,Yes,Yes,...,Lunch,Beer & Wine Only,Average,Casual,No,No,Yes,http://www.rickbayless.com,(312) 334-3688,128
3,Rlg07N7Sl1qTzjc7zc6Whg,Icosium KafÃƒÂ©,"Icosium KafÃƒÂ© - Andersonville - Chicago, IL",343,4.0,"Restaurants, Creperies, Breakfast & Brunch, Me...",5200 N Clark St (between United States Highway...,Mon-Thu 9 am - 9 pm Fri 9 am - 10 pm Sat 8 am ...,Yes,Yes,...,Lunch,No,Average,"Casual, Intimate",No,No,Yes,http://icosiumkafechicago.com,(773) 271-5233,50
4,eIzCQ5sb2zlGUsopzmrgOw,Stanford Inn & Tea Room,"Stanford Inn & Tea Room - Bartow, FL",5,3.5,"Restaurants, American (New), METADATA","555 E Stanford St Bartow, FL 33830",None,No,Yes,...,Lunch,None,Quiet,None,No,None,None,http://www.thestanfordinn.com,(863) 533-2393,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13323,PKDh2cKZSttqp6zHpWutoA,Pupuseria El Salvador,Pupuseria El Salvador - CLOSED - East Side - C...,7,4.5,"Restaurants, Latin American, METADATA",3557 E. 106th St. (between Avenue M & Avenue L...,None,Yes,Yes,...,Lunch,No,None,None,None,None,No,None,(773) 374-0490,0
13324,g-M7v26TVAs3sggN4m7kJg,Super Taco,"Super Taco - Warrenville, IL",4,3.5,"Restaurants, Mexican, METADATA","2S480 State Rt 59 Warrenville, IL 60555",None,Yes,Yes,...,Lunch,Beer & Wine Only,Average,None,Yes,No,Yes,None,(630) 836-9527,6
13325,gtT9TZBNFn9xlnjup5Q8sg,Hale & Hearty Soups,"Hale & Hearty Soups - Chelsea - New York, NY",55,3.5,"Restaurants, Soup, METADATA",75 9th Ave (between 5th Ave & 15th St) New Yor...,None,Yes,Yes,...,Lunch,No,Average,None,No,No,Yes,http://www.haleandhearty.com,(212) 255-2400,2
13326,s8EYvk8Ri4VJTXZDXW3GnQ,Puebla Mexican Food & Coffee Shop,Puebla Mexican Food & Coffee Shop - East Villa...,62,4.0,"Food, Bakeries, Coffee & Tea, Restaurants, Mex...","47 1st Ave (between 2nd St & 3rd St) New York,...",Mon-Fri 6 am - 11 pm Sat 7 am - 11 pm Sun 8 am...,Yes,No,...,Lunch,Beer & Wine Only,Quiet,None,No,None,No,None,(212) 473-6643,8
13327,KzgI3kFHxYdf-l3e0U-mdw,Lemon Grass Thai Restaurant,Lemon Grass Thai Restaurant - University City ...,95,3.5,"Restaurants, Thai, METADATA","3630 Lancaster Ave Philadelphia, PA 19104 Neig...","Mon-Fri 11:30 am - 2 pm Mon-Thu, Sun 5 pm - 9 ...",No,Yes,...,Lunch,Full Bar,Average,Casual,No,None,No,http://lemongrassphila.com/,(215) 222-8042,15

In [74]:
query('select distinct(Attire) from restaurant')

                     Attire
0  Formal (Jacket Required)
1                    Casual
2                    Dressy
3                      None

In [80]:
query('select restaurantID,name,location,reviewCount,rating,categories,PriceRange,Attire from restaurant where categories like "Restaurant%" and Attire like "Formal%"')

,restaurantID,name,location,reviewCount,rating,categories,PriceRange,Attire
0,pbEiXam9YJL3neCYHGwLUA,Alinea,"Alinea - Lincoln Park - Chicago, IL",841,4.5,"Restaurants, American (New)",$$$$,Formal (Jacket Required)
1,AkfSndWBxnTn-LpmiL8aLA,Tru,"Tru - Near North Side - Chicago, IL",403,4.5,"Restaurants, American (New)",$$$$,Formal (Jacket Required)
2,DZaN3bNWfwcm__sNw5bvDg,Daniel,"Daniel - Upper East Side - New York, NY",577,4.5,"Restaurants, French, METADATA",$$$$,Formal (Jacket Required)
3,T20VEwi7AzKbY2TuVEt_ig,The French Laundry,"The French Laundry - Yountville, CA",1185,4.5,"Restaurants, French, American (New), METADATA",$$$$,Formal (Jacket Required)
4,mnvQFi_uwBKgBjrIyRQ6YQ,Spiaggia,"Spiaggia - Near North Side - Chicago, IL",220,4.0,"Restaurants, Italian, METADATA",$$$$,Formal (Jacket Required)
...,...,...,...,...,...,...,...,...
129,iyUdPyxQuWsBuh99dwBdOw,Del Taco,"Del Taco - La Quinta, CA",6,3.0,"Restaurants, Mexican, Fast Food, METADATA",None,Formal (Jacket Required)
130,1Vvkt2_i_z6gwU-W5aBK6Q,Concordia Argonaut,Concordia Argonaut - Civic Center/Tenderloin -...,10,3.5,"Restaurants, American (Traditional), METADATA",$$$,Formal (Jacket Required)
131,S9pB3QysEpsQmVZZO5ExiQ,The Dog Out,The Dog Out - CLOSED - Civic Center/Tenderloin...,12,3.0,"Restaurants, Fast Food, Hot Dogs, METADATA",$,Formal (Jacket Required)
132,DXwyGOkES70yuhXvKIrC9g,Circular Dining Room at The Hotel Hershey,Circular Dining Room at The Hotel Hershey - He...,20,4.0,"Restaurants, American (New), METADATA",$$$,Formal (Jacket Required)
133,ee0HEuzQkYQD-bprKa6u-g,Wiltons Restaurant,Wiltons Restaurant - St James's - London,4,4.0,"Restaurants, Seafood, METADATA",Ã‚Â£Ã‚Â£Ã‚Â£Ã‚Â£,Formal (Jacket Required)

In [60]:
query('select * from restaurant where location like "%Chicago, IL" and categories like "%Pizza%" and reviewCount>500 limit 20')

,restaurantID,name,location,reviewCount,rating,categories,address,Hours,GoodforKids,AcceptsCreditCards,...,GoodFor,Alcohol,NoiseLevel,Ambience,HasTV,Caters,WheelchairAccessible,webSite,phoneNumber,filReviewCount
0,DXwSYgiXqIVNdO9dazel6w,Pequod's Pizzeria,"Pequod's Pizzeria - DePaul - Chicago, IL",1157,4.0,"Restaurants, Pizza",2207 N Clybourn Ave (between Webster Ave & Gre...,Mon-Sat 11 am - 2 am Sun 11 am - 12 am,Yes,Yes,...,Dinner,Full Bar,Average,Casual,Yes,Yes,Yes,http://www.pequodspizza.com,(773) 327-1512,120
1,0fFLUKl71vv3eNV2xhikEw,Spacca Napoli,"Spacca Napoli - Ravenswood - Chicago, IL",656,4.0,"Restaurants, Pizza",1769 W Sunnyside Ave (between Hermitage Ave & ...,Tue-Thu 5 pm - 9 pm Wed-Fri 11:30 am - 3 pm Fr...,Yes,Yes,...,Dinner,Beer & Wine Only,Average,Casual,No,No,Yes,http://spaccanapolipizzeria.com,(773) 878-2420,92
2,Z2nOMPedr7XYhgYhILJjEA,Piece Brewery and Pizzeria,Piece Brewery and Pizzeria - Wicker Park - Chi...,1543,4.0,"Restaurants, Pizza, Food, Breweries",1927 W North Ave (between Winchester Ave & Elk...,Mon-Thu 11 am - 1 am Fri 11 am - 1:30 am Sat 1...,No,Yes,...,Dinner,Full Bar,Loud,Casual,Yes,No,Yes,http://www.piecechicago.com,(773) 772-4422,151
3,z_qEuUuRWIq4O-YufXHf1w,Giordano's Famous Stuffed Pizza,Giordano's Famous Stuffed Pizza - Near North S...,530,3.5,"Restaurants, Pizza",730 N Rush St (between Superior St & Chicago A...,Mon-Sun 11 am - 12 am,Yes,Yes,...,"Lunch, Dinner",Full Bar,Loud,"Touristy, Casual",Yes,Yes,Yes,http://www.giordanos.com/,(312) 951-0747,68
4,tW2jfL-qMccAYZSghPBbHA,The Art of Pizza,"The Art of Pizza - Lakeview - Chicago, IL",658,4.0,"Restaurants, Pizza, Italian",3033 N Ashland Ave (between Barry Ave & Nelson...,"Mon-Thu, Sun 11 am - 10 pm Fri-Sat 11 am - 11:...",Yes,Yes,...,Dinner,No,Average,Casual,Yes,No,Yes,http://www.theartofpizzainc.com,(773) 327-5600,99
5,ms5ge1XY9-Alu7HkybAMdQ,Giordano's,"Giordano's - The Loop - Chicago, IL",520,3.5,"Restaurants, Pizza",135 E Lake St (between Stetson Ave & Beaubien ...,None,Yes,Yes,...,"Lunch, Dinner",Full Bar,Average,Casual,Yes,Yes,Yes,http://www.giordanos.com,(312) 616-1200,51
6,ibreTMGGaQSanZttUchjKg,The Original Gino's East of Chicago,The Original Gino's East of Chicago - Near Nor...,701,3.5,"Restaurants, Pizza",162 E Superior St (between Michigan Ave & St C...,Mon-Thu 11 am - 10 pm Fri-Sat 11 am - 11 pm Su...,Yes,Yes,...,Dinner,Full Bar,Average,"Touristy, Casual",Yes,No,Yes,http://www.ginoseast.com,(312) 266-3337,82
7,8vFJH_paXsMocmEO_KAa3w,Lou Malnati's Pizzeria,Lou Malnati's Pizzeria - Near North Side - Chi...,926,4.0,"Restaurants, Pizza, METADATA","439 N Wells St Chicago, IL 60654 Neighborhoods...",Mon-Thu 11 am - 11 pm Fri-Sat 11 am - 12 am Su...,Yes,Yes,...,"Lunch, Dinner",Full Bar,Average,Casual,Yes,Yes,No,http://www.loumalnatis.com,(312) 828-9800,89
8,f7EQPgJWlrsAz6GsEXl5PA,Crust,"Crust - CLOSED - Wicker Park - Chicago, IL",503,3.5,"Restaurants, Pizza, American (New), METADATA",2056 W Division St (between Damen Ave & Hoyne ...,None,Yes,Yes,...,Dinner,Full Bar,Average,Casual,No,Yes,Yes,http://crustorganic.com,(773) 235-5511,71
9,ziIfrqtyupmeNlPAOx6jTw,Quartino,"Quartino - Near North Side - Chicago, IL",1453,4.0,"Restaurants, Tapas Bars, Italian, Pizza, METADATA","626 N State St Chicago, IL 60614 Neighborhood:...",Mon-Sun 11:30 am - 2 am,No,Yes,...,Dinner,Full Bar,Loud,Casual,Yes,Yes,Yes,http://www.quartinochicago.com/,(312) 698-5000,129
10,s2FeNyxwxT7cMl_mS_ygFg,La Madia,"La Madia - Near North Side - Chicago, IL",591,4.0,"Restaurants, Pizza, Italian, METADATA","59 W Grand Ave Chicago, IL 60654 Neighborhood:...",Mon-Tue 11:30 am - 11 pm Wed-Sat 11:30 am - 1 ...,No,Yes,...,Dinner,Full Bar,Average,Trendy,Yes,Yes,Yes,http://www.dinelamadia.com,(312) 329-0400,48
11,QNbWTNuAEMWOurHN8rMXnA,Chicago Pizza & Oven Grinder Co,Chicago Pizza & Oven Grinder Co - Lincoln Park...,673,4.0,"Restaurants, Pizza, Italian, METADATA","2121 N Clark St (at Dickens Ave) Chicago, IL 6...",Mon-Thu 4 pm - 11 pm Fri 4 pm - 12 am Sat 11:3...,Yes,No,...,Dinner,Full Bar,Average,Casual,No,No,No,http://www.chicagopizzaandovengrinÃ¢Â€Â¦,(773) 248-2570,111

In [16]:
print(query('select reviewContent from review where reviewID="Jqig7kz3gKQMiWDVc1oM5g"').values)

[['It\'s so over priced, and none of the dishes are really memorable. Maybe due to the fact that we just had Daniel and Jean Georges in NYC, and Salts in Cambridge, Tru really was a bad finale for my graduation gastronomic trip. The service was slow, probably because there were two large tables of corporate clients, but still... 5 courses for 3.5 hours? Alinea does 17 courses for 3.5 hours... Water glasses were left empty from time to time. Out of the 5 course tasting menu, the worst thing was the pork belly. It was just a piece of fat meet, fried in Oliver oil... It was an one bite dish, really, not even an appetizer. Beef was bad, too. Overcooked and flavorless. The fish course was OK, but it\'s just a piece of cheap Salmon, and as long as you do not over cook it, it\'s gonna be OK anyway. I know it\'s only an one star restaurant, but the 5 course tasting menu is 110 bucks, and Daniel\'s three course pre fix is the same price. Daniel\'s three courses and complimentary pastry items completely filled us up, and Tru\'s five "courses" left us in hungry. Daniel gave me a very very nice complimentary dessert for my graduation, and Tru gave me a tiny piece of butter cake for my birthday and graduation celebration. The decor was not as good as some people described, either. We had seared foie gras, wagyu beef, and a nice bottle of 2009 Beaujolais Cruz at Daniel, for less than 800. We paid almost 700 bucks at Tru, with a cheaper bottle of wine, worse service, and definitely worse food. Do yourself a favor and go to Alinea!!!']]

In [17]:
query('select * from restaurant where restaurantID="AkfSndWBxnTn-LpmiL8aLA"')

,restaurantID,name,location,reviewCount,rating,categories,address,Hours,GoodforKids,AcceptsCreditCards,...,GoodFor,Alcohol,NoiseLevel,Ambience,HasTV,Caters,WheelchairAccessible,webSite,phoneNumber,filReviewCount
0,AkfSndWBxnTn-LpmiL8aLA,Tru,"Tru - Near North Side - Chicago, IL",403,4.5,"Restaurants, American (New)",676 N St. Clair St (between Erie St & Huron St...,Mon-Thu 6 pm - 9:30 pm Fri 6 pm - 10 pm Sat 5 ...,No,Yes,...,Dinner,Full Bar,Quiet,"Classy, Upscale",No,No,Yes,http://www.TRUrestaurant.com,(312) 202-0001,52

In [42]:
query('select distinct(restaurantID) from review where reviewContent like "%small plates%small plates%"')

               restaurantID
0    bNXpwTSavHBV9zBk2lUlGA
1    boE4Ahsssqic7o5wQLI04w
2    IvdOI86_CSCRFpid2atnyA
3    OKOfoisduqP24uK3WYvx7Q
4    o4NcUfco7JxOcyfKFWyAhg
..                      ...
244  cEFDgaRCd6eEPInlJBkRig
245  gSMAmIma0SWC0qJnZeggnA
246  1iuT0GAiXBeIA1BVidxkCw
247  dP5W-LZV5yCJa6owX6-4qA
248  uDzJKjrJQA6IPbCrHy7i6A

[249 rows x 1 columns]

In [45]:
df = query('with subquery as (select distinct(restaurantID) from review where reviewContent like "%prefixe%" or reviewContent like "%pre_fixe%" or reviewContent like "%tasting menu%" or reviewContent like "%small plates%small plates%") select * from review where restaurantID in subquery')# and flagged like "N%"')
df

,date,reviewID,reviewerID,reviewContent,rating,usefulCount,coolCount,funnyCount,flagged,restaurantID
0,9/22/2012,GtwU21YOQn-wf4vWRUIx6w,bNYesZ944s6IJVowOnB0iA,"Unlike Next, which we'd eaten at the previous ...",5,0,0,0,N,pbEiXam9YJL3neCYHGwLUA
1,9/22/2012,0LpVTc3,TRKxLC3y-ZvP45e5iilMtw,Probably one of the best meals I've had ever. ...,5,0,0,0,N,pbEiXam9YJL3neCYHGwLUA
2,9/19/2012,tljtLzf68Fkwf,0EMm8umAqXZzyhxNpL4M9g,Service was impeccable. Experience and present...,3,2,0,0,N,pbEiXam9YJL3neCYHGwLUA
3,9/6/2012,iSN,DlwexC7z88ymAzu45skODw,"The problem with places like this, given the e...",3,8,0,3,N,pbEiXam9YJL3neCYHGwLUA
4,9/9/2012,Jmwrh7,kW2dk1CWihmh3g7k9N2G8A,I have no idea how to write my review - dining...,5,1,2,0,N,pbEiXam9YJL3neCYHGwLUA
...,...,...,...,...,...,...,...,...,...,...
56956,9/6/2007,bVivdkEFrBpXmWwDV5BPvQ,xMYPc5tzV2PSryKFK_y1PQ,I finally made it to Naha and really enjoyed i...,5,2,1,0,YR,s7iq5dP-iLdivNGKr2wTJA
56957,2/13/2009,YDX-Rd9G3oAtw6x0my6sSg,pn2Y9udA1C9Ox1RAPP8zxg,"Always like Cafe Iberico, good selection of ta...",4,1,0,0,YR,gSMAmIma0SWC0qJnZeggnA
56958,9/8/2012,BlVMjX2lCswsmmFuqFR2yw,IkLdv0dFGfRJrtFVJYJnLg,My boyfriend and I went to Amada last night fo...,4,2,2,0,NR,S8ZFYEgMejpChID8tzKo9A
56959,8/16/2009,j7gddOuiqypwpgeqyNUl_w,Su9fsHE-rQTsFfy-II3y8A,I am extremely impressed with this place. Ã‚Â #1...,4,0,0,1,YR,TkFEKhsCixPWlShULKvMdQ
56960,7/28/2007,_Vf1--83Uf34LyMXmLmQpw,xMYPc5tzV2PSryKFK_y1PQ,Hole mole!!! We got some takeout from SdM. Pue...,3,0,0,0,NR,UHUalNP0sTqDeCdXrBCAZg

In [46]:
df.to_pickle('data/tasting_tapas_prefixe.pkl')

In [8]:
df = query('with subquery as (select distinct(restaurantID) from review where reviewContent like "%prefixe%" or reviewContent like "%pre_fixe%" or reviewContent like "%tasting menu%" or reviewContent like "%small plates%small plates%") select * from restaurant where restaurantID in subquery')# and flagged like "N%"')
df

,restaurantID,name,location,reviewCount,rating,categories,address,Hours,GoodforKids,AcceptsCreditCards,...,GoodFor,Alcohol,NoiseLevel,Ambience,HasTV,Caters,WheelchairAccessible,webSite,phoneNumber,filReviewCount
0,--UNNdnHRhsyFUbDgumdtQ,Le Pigeon,"Le Pigeon - Industrial District - Portland, OR",383,4.5,"Restaurants, French, American (New), METADATA","738 E Burnside St Portland, OR 97214 Neighborh...",Mon-Sun 5 pm - 10 pm,No,Yes,...,Dinner,Beer & Wine Only,Average,"Hipster, Intimate",No,No,Yes,http://www.lepigeon.com,(503) 546-8796,45
1,-0hcm_A-NrEUS_bGM8fwgw,Hachi Japanese Fusion Sushi & Sake Lounge,Hachi Japanese Fusion Sushi & Sake Lounge - Mo...,119,3.5,"Restaurants, Japanese, Sushi Bars, Nightlife, ...","1711 W El Camino Real Ste B Mountain View, CA ...",Mon-Thu 5 pm - 11 pm Fri-Sat 5 pm - 1 am Sun 5...,No,Yes,...,Dinner,Beer & Wine Only,Average,"Trendy, Casual",Yes,Yes,None,http://www.hachisushisakelounge.coÃ¢Â€Â¦,(650) 988-6938,41
2,-2TRgkI9lXSXskpXlyzCug,Cafe Matou,"Cafe Matou - CLOSED - Chicago, IL",102,4.0,"Restaurants, French, METADATA",1846 N Milwaukee Ave (between Bloomingdale Ave...,None,No,Yes,...,Dinner,Full Bar,None,None,None,None,Yes,http://www.cafematou.com,(773) 384-8911,12
3,-3UhToDI8YYrvkIRD8tySg,La Sardine,"La Sardine - Near West Side - Chicago, IL",141,4.0,"Restaurants, French, METADATA",111 N Carpenter St (between Washington Blvd & ...,Mon-Fri 11:30 am - 3 pm Mon-Thu 5 pm - 10 pm F...,No,Yes,...,Dinner,Full Bar,Average,Romantic,No,No,No,http://lasardine.com/,(312) 421-2800,17
4,-3zffZUHoY8bQjGfPSoBKQ,Michael Mina,"Michael Mina - The Strip - Las Vegas, NV",240,4.0,"Restaurants, American (New), Seafood, METADATA","Bellagio 3600 S Las Vegas Blvd Las Vegas, NV 8...","Mon-Tue, Thu, Sun 5:30 pm - 10 pm Fri-Sat 5:30...",No,Yes,...,Dinner,Full Bar,Average,Classy,No,No,Yes,http://www.michaelmina.net,(702) 693-7223,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,zm-PPnv9eAkWYFGpVg9kMg,Shimizu,"Shimizu - Hell's Kitchen - New York, NY",98,4.0,"Restaurants, Japanese, Sushi Bars, METADATA",318 W 51st St (between 8th Ave & 9th Ave) New ...,Mon-Sat 12 pm - 2:30 pm Mon-Sat 5:30 pm - 12 am,No,Yes,...,Dinner,Full Bar,Quiet,Casual,No,None,Yes,http://www.shimizusushi.com/,(212) 581-1581,13
1301,zs2_jbMlHt0UeEfOir_f8A,Chef Mavro,"Chef Mavro - Moilili - Honolulu, HI",194,4.0,"Restaurants, Hawaiian, Asian Fusion, French, M...","1969 S King St Honolulu, HI 96826 Neighborhood...",Tue-Sun 6 pm - 9 pm,No,Yes,...,Dinner,Full Bar,Quiet,Intimate,No,No,Yes,http://www.chefmavro.com,(808) 944-4714,27
1302,ztwdK33L2GZtCdHC4YPO1Q,Kaze Sushi,Kaze Sushi - CLOSED - Roscoe Village - Chicago...,213,4.0,"Restaurants, Sushi Bars, French, METADATA",2032 W Roscoe (between Seeley Ave & Hoyne Ave)...,None,No,Yes,...,Dinner,Full Bar,None,None,None,None,Yes,http://www.kazesushi.com,(773) 327-4860,24
1303,zuWwITlA0Nl6gNnpAljxIQ,Moe's Cantina,"Moe's Cantina - Near North Side - Chicago, IL",213,2.5,"Restaurants, Mexican, METADATA","155 W Kinzie Chicago, IL 60654 Neighborhoods: ...","Mon-Fri, Sun 11 am - 2 am Sat 11 am - 3 am",No,Yes,...,"Late Night, Dinner",Full Bar,Very Loud,Trendy,Yes,No,Yes,http://www.moescantina.com/,(312) 245-2000,42
1304,zvIbFkcZwqhTuDF7t7eQsQ,Twenty Five Lusk,"Twenty Five Lusk - SOMA - San Francisco, CA",620,3.5,"Restaurants, American (New), Nightlife, Bars, ...","25 Lusk St (at Townsend St) San Francisco, CA ...","Mon-Thu, Sun 5:30 pm - 10 pm Fri-Sat 5:30 pm -...",No,Yes,...,Dinner,Full Bar,Average,"Classy, Trendy, Upscale",No,No,Yes,http://www.twentyfivelusk.com,(415) 495-5875,86

In [9]:
df.to_pickle('data/tasting_restaurants.pkl')

In [90]:
tasting_df=query('with subquery as (select distinct(restaurantID) from review where reviewContent like "%tasting menu%") select * from review where restaurantID in subquery')
tasting_df

,date,reviewID,reviewerID,reviewContent,rating,usefulCount,coolCount,funnyCount,flagged,restaurantID
0,9/22/2012,GtwU21YOQn-wf4vWRUIx6w,bNYesZ944s6IJVowOnB0iA,"Unlike Next, which we'd eaten at the previous ...",5,0,0,0,N,pbEiXam9YJL3neCYHGwLUA
1,9/22/2012,0LpVTc3,TRKxLC3y-ZvP45e5iilMtw,Probably one of the best meals I've had ever. ...,5,0,0,0,N,pbEiXam9YJL3neCYHGwLUA
2,9/19/2012,tljtLzf68Fkwf,0EMm8umAqXZzyhxNpL4M9g,Service was impeccable. Experience and present...,3,2,0,0,N,pbEiXam9YJL3neCYHGwLUA
3,9/6/2012,iSN,DlwexC7z88ymAzu45skODw,"The problem with places like this, given the e...",3,8,0,3,N,pbEiXam9YJL3neCYHGwLUA
4,9/9/2012,Jmwrh7,kW2dk1CWihmh3g7k9N2G8A,I have no idea how to write my review - dining...,5,1,2,0,N,pbEiXam9YJL3neCYHGwLUA
...,...,...,...,...,...,...,...,...,...,...
35454,2/14/2011,-fy_oJrYTKknlUaFzFBLNw,gm0V0GmBBlUlTqoZHsjWqw,Date/Time: Friday - 9:00pm Occasion: Ã‚Â Chinese...,4,3,2,1,NR,PLx_VnZyFmxTS1zNTaDJxA
35455,9/10/2007,i9pLW9bkXmIHX0l3dbHaDQ,xMYPc5tzV2PSryKFK_y1PQ,We had dinner here in August and had a wonderf...,5,2,2,0,YR,4wJCtchC3WfWZkx230mReA
35456,9/6/2007,bVivdkEFrBpXmWwDV5BPvQ,xMYPc5tzV2PSryKFK_y1PQ,I finally made it to Naha and really enjoyed i...,5,2,1,0,YR,s7iq5dP-iLdivNGKr2wTJA
35457,9/8/2012,BlVMjX2lCswsmmFuqFR2yw,IkLdv0dFGfRJrtFVJYJnLg,My boyfriend and I went to Amada last night fo...,4,2,2,0,NR,S8ZFYEgMejpChID8tzKo9A
35458,7/28/2007,_Vf1--83Uf34LyMXmLmQpw,xMYPc5tzV2PSryKFK_y1PQ,Hole mole!!! We got some takeout from SdM. Pue...,3,0,0,0,NR,UHUalNP0sTqDeCdXrBCAZg

In [91]:
tasting_df.to_pickle('data/tasting_menu.pkl')

In [62]:
df = query()
# pizza chicago more than 500 reviews: query('select * from review where restaurantID in ("DXwSYgiXqIVNdO9dazel6w","0fFLUKl71vv3eNV2xhikEw","Z2nOMPedr7XYhgYhILJjEA","z_qEuUuRWIq4O-YufXHf1w","tW2jfL-qMccAYZSghPBbHA","ms5ge1XY9-Alu7HkybAMdQ","ibreTMGGaQSanZttUchjKg","8vFJH_paXsMocmEO_KAa3w","ziIfrqtyupmeNlPAOx6jTw","s2FeNyxwxT7cMl_mS_ygFg","QNbWTNuAEMWOurHN8rMXnA")')
df

,date,reviewID,reviewerID,reviewContent,rating,usefulCount,coolCount,funnyCount,flagged,restaurantID
0,8/22/2012,KmBTtI0sJ3kxZSET7pGi0Q,t62kr04Ye8ipCzRQpHZKCw,Excellent Italian style pizza here. Also very ...,4,0,0,0,N,0fFLUKl71vv3eNV2xhikEw
1,9/2/2012,HjEk-C3VIURDgQJb41Jobw,m_y9huyFiHW1Gciq9bD-1w,Food gets about 3 stars. 1 star deducted due t...,2,0,0,0,N,0fFLUKl71vv3eNV2xhikEw
2,9/2/2012,USlJtUoMJRJy5lypvFTvCg,c2BbxDdn6QTy33682gQDvQ,I was here a couple times - the first time the...,3,0,0,0,N,0fFLUKl71vv3eNV2xhikEw
3,9/17/2012,gCCsod-dLJGiyMSLyz3TDQ,LcsnX1jRBAfc6QRB6DhQuw,Great atmosphere. Ã‚Â 1 of the best appetizers I...,4,0,0,0,N,0fFLUKl71vv3eNV2xhikEw
4,8/13/2012,u2vAJguU951vIiFwuuOZiQ,YelSHVDxUCqh8aXYFuID-A,I so wanted to give this place more than three...,3,3,2,2,N,0fFLUKl71vv3eNV2xhikEw
...,...,...,...,...,...,...,...,...,...,...
7622,12/20/2006,q_T45H9KnGzwJp9d3XS94Q,CtAepWCJb9hruVASeR1gOw,(Morton Grove location:) Seems like a typical ...,5,1,1,0,YR,DXwSYgiXqIVNdO9dazel6w
7623,10/21/2012,pBbG4sRggfoH4aoteP4CjA,aAnY0oKxg4WEcYsC9hw3cQ,"It was my first time being there, but is defin...",4,0,0,0,NR,ziIfrqtyupmeNlPAOx6jTw
7624,8/6/2010,AxCremdPkEMY8jgDSi3cCw,pJALqPYTjzoV9xpd34WB6g,After landing from a horrendous trip to Chicag...,5,21,21,3,YR,ziIfrqtyupmeNlPAOx6jTw
7625,7/19/2012,Q5hxE_Y5QQJSy0fS8_L-nA,Jkcb9B9gZYWhOBqwsM31xQ,My friends and I go to Quartino at least once ...,5,0,0,0,YR,ziIfrqtyupmeNlPAOx6jTw
7626,9/4/2007,j4OX0AfZOO_JyekVZCQ1Gg,xMYPc5tzV2PSryKFK_y1PQ,"Come for the pizza, stay for the beer. The piz...",3,1,0,1,YR,Z2nOMPedr7XYhgYhILJjEA

In [9]:
c.execute(query);
pd.DataFrame(c.fetchall(),columns=[desc[0] for desc in c.description])

,restaurantID,name,location,reviewCount,rating,categories,address,Hours,GoodforKids,AcceptsCreditCards,...,GoodFor,Alcohol,NoiseLevel,Ambience,HasTV,Caters,WheelchairAccessible,webSite,phoneNumber,filReviewCount
0,pbEiXam9YJL3neCYHGwLUA,Alinea,"Alinea - Lincoln Park - Chicago, IL",841,4.5,"Restaurants, American (New)",1723 N Halsted St (between Willow St & Concord...,Wed-Sun 5 pm - 6:30 pm Wed-Sun 8 pm - 9:30 pm,No,Yes,...,Dinner,Full Bar,Quiet,"Classy, Upscale",No,No,Yes,http://www.alinearestaurant.com,(312) 867-0110,136